.hidden {
    display: none;
}

.panel-body img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.panel-small {
    display: inline-block;
    max-width: 22em;
    margin-right: 1em;
}

dl {
    margin-bottom: 0 !important;
}

.modal-huge {
    min-width: 75%;
}

.modal-body {
    overflow: auto;
}

.alert.popup {
    position: fixed;
    top: 1em;
    right: 1em;
    width: 50em;
}
